body {
  background-color: $tundora;
  color: $white;
  font-family: $main-font;
  font-size: $font-size;
  font-weight: $main-weight;
  height: 100vh;
  margin: 0;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
