@mixin vertical-align() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin no-decor-list() {
    list-style-type: none;
}

@mixin block-vertical-align() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 60%;
    margin: auto;
}

@mixin background($imageUrl, $size) {
  background-image: url("/images/#{$imageUrl}");
  background-size: $size;
}
