@mixin vertical-align() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin no-decor-list() {
  list-style-type: none;
}

@mixin background($imageUrl, $size) {
  background-image: url("/images/#{$imageUrl}");
  background-size: $size;
}
