.catalog {
  @include container;
  height: 100vh;
  padding-top: 102px;

  &__gallery {
    @include span(10 inside no-gutter);

    &--item {
      @include span(1 of 5 inside no-gutter);
      float: left;
      margin: 0px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}
