&__nav {
  background-color: $mine-shaft;
  color: $white;
}

&__nav-logo {
  height: 74px;
  text-align: center;

  &--logo {
    @include span(isolate 1 at 3 of 5);
    @include vertical-align();

    &>img {
      min-height: 25px;
      min-width: 95px;
    }
  }
}

&__nav-list {
  background-color: $cod-gray;
  height: 28px;

  &--item {
    @include span(1 of 5 inside no-gutters);
    @include no-decor-list();
    display: table;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: $mine-shaft;
      cursor: pointer;
    }

    &>a {
      display: table-cell;
      vertical-align: middle;

      &.active {
        background-color: $white;
      }
    }

  }
}
