// Colors

// Header
$mine-shaft: rgba(24, 24, 24, 1);
$mine-shaft-transparent: rgba(24, 24, 24, 0.8);
$cod-gray: rgba(31, 31, 31, 1);
$scorpion: rgba(88, 88, 88, 1);
$tundora: rgba(69, 69, 69, 1);

// General
$white: rgba(255, 255, 255, 1)
