/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Cormorant|Raleway);

$main-font: 'Raleway', sans-serif;
$secondary-font: 'Cormorant', sans-serif;

$font-size: 11px;
$main-weight: 400; //Regular
$secondary-weight: 400;
