/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway);

$main-font: 'Raleway', sans-serif;
$secondary-font: 'Bell MT', sans-serif;

$main-weight: 400; //Regular
$secondary-weight: 400;
