&__nav {
  background-color: $mine-shaft;
  color: $white;
}

&__nav-logo {
  height: 74px;
  text-align: center;
}

&__nav-list {
  background-color: $cod-gray;
  height: 28px;

  &--item {
    @include span(1 of 5);
    @include vertical-align();
    text-align: center;
    text-transform: uppercase;
  }
}
